## Production
# POWERSCHOOL_BASE_URI=https://powerschool.tulsaschools.org
# POWERSCHOOL_CLIENT_PLUGIN_NAMESPACE=org.tulsaschools.data
# POWERSCHOOL_CLIENT_ID=________-____-____-____-____________
# POWERSCHOOL_CLIENT_SECRET=________-____-____-____-____________

## Test
# POWERSCHOOL_BASE_URI=https://pstest.tulsaschools.org
# POWERSCHOOL_CLIENT_PLUGIN_NAMESPACE=org.tulsaschools.data
# POWERSCHOOL_CLIENT_ID=________-____-____-____-____________
# POWERSCHOOL_CLIENT_SECRET=________-____-____-____-____________

## Dev
# POWERSCHOOL_BASE_URI=https://psdev.tulsaschools.org
# POWERSCHOOL_CLIENT_PLUGIN_NAMESPACE=org.tulsaschools.data
# POWERSCHOOL_CLIENT_ID=________-____-____-____-____________
# POWERSCHOOL_CLIENT_SECRET=________-____-____-____-____________

## WIP
# POWERSCHOOL_BASE_URI=https://pstest.tulsaschools.org
# POWERSCHOOL_CLIENT_PLUGIN_NAMESPACE=org.tulsaschools.data-BRANCH
# POWERSCHOOL_CLIENT_ID=________-____-____-____-____________
# POWERSCHOOL_CLIENT_SECRET=________-____-____-____-____________
